<% provide(:title, "Home") %>

<h1>Welcome to CHAN HUAT AUTO SUPPLIES SDN BHD</h1> 

<h2>We are the experts from local to Japanese, European and continental spare parts. All parts supplied are 100% imported and genuine. </h2>

<%= image_tag "/images/pickupdelivery.png" %>


<p>
    
</p>























