<% provide(:title, "Products & Services") %>
<h1>Products</h1>



<h1>Services</h1>
<div>
<ul>
  Car repairs<br>
  Aircond repairs<br>
  Pick up and delivery<br>
  Painting<br>
  Tyres allignment 
</ul>

<table border="1" style="width:100%">
  <tr>
    <th>Interim 10,000 kilometre or every 6 months</th>
    <th>Full or every 12 months</th>
    <th>Major every 24 months</th>
  </tr>

  <tr>
    <td>Drain engine oil and refill. We use Castrol oils
    Special or synthetic oils are subject to additional charge.</td>
  </tr>
  <tr>
    <td>Replace oil filter</td>
  </tr>
  <tr>  
    <td>Check for excessive oil leaks</td>
  </tr>  
  <tr>  
    <td>Check for timing belt (cambelt) replacement interval and report if replacement due according to mileage or age</td>
  </tr>
  <tr>
    <td>Check condition and security of undertray ✔</td>
  </tr>  
  </tr>
</table>
</div>

